html{
    height: 100%;
}

body{
    background: radial-gradient(#F74C4C 0%, #FF0000 100%);
    font-family: cursive;
    text-align: center;
}

.nav-bar {
    background: radial-gradient(#17ffff 0%, #071556 100%);
    width: 200vw;
    height: auto;
    text-align: center;
    overflow: hidden;
    border-bottom: 0px solid #000;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-top: 10px solid #000;
    position: fixed;
    bottom: 0;
    left: 0%;
    transform: translate(0%, 0);
  }

  .nav-bar a {
    transition: background-color 0.35s, color 0.35s;

    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.2vw;
  }

  .nav-bar h1{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.2vw;
  }

  .nav-bar a:hover {
    background: #f1f1f1;
    color: black;
  }

  .nav-bar a.active {
    background-color: #d61212;
    color: white;
  }