html {
  height: 100vh;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}

button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
}

h2 {
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

#imageElement {
  visibility: hidden;
}

.base {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
}

.main-coloumns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.main-coloumns {
  width: 100vw;
}

.options {
  width: 20vw;
  height: 90vh;
  background-color: #333333;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.label {
  justify-self: flex-start;
  border-bottom: 5px solid #000;
}

.settings {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.settings-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  margin-bottom: 5px;
  flex: 1;
}

.dwnld {
  width: 100%;
  height: 100%;
  margin-bottom: 0 !important;
  border: none;
  border-top: 2.5px solid #000;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgb(43, 43, 44);
}

.dwnld:hover {
  background-color: #333333;
}

.dwnld:active {
  background-color: rgb(43, 43, 44);
}

.display {
  width: 79.62vw;
  height: 90vh;
  background-color: #4c4b4b;
  border-left: 5px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  background-color: rgb(34, 34, 35);
  border-top: 5px solid #000;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* PSUEDO STYLING */
/* ================================================================================================================================= */

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: black;
  width: 1.55em;
  height: 1.55em;
  border: 5px solid black;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 10px;
}

input[type="number"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: black;
  width: 5rem;
  height: 1.55em;
  border: 5px solid black;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 10px;
}

input[type="number"]:focus {
  outline: none;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type="checkbox"]::before {
  content: "";
  width: 1em;
  height: 1em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em darkcyan;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
