html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Comic Sans MS';
  user-select: none;
  user-zoom: none;
}

@import url(//db.onlinewebfonts.com/c/7cc6719bd5f0310be3150ba33418e72e?family=Comic+Sans+MS);

@font-face {
  font-family: "Comic Sans MS";
  src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot");
  src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff") format("woff"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS") format("svg");
}

.fakeh {
  font-size: 25px;
}

.bg {
  background: radial-gradient(#0076ff 0%, #08fbff 100%);
  width: 60vw;
  height: 97.52512155591572vh;
  position: absolute;
  right: 32vw;
  top: 48.762560778vh;
  transform: translate(20%, -50%);
  z-index: -10;
}

.wbg {
  background: radial-gradient(#0076ff 0%, #08fbff 100%);
  width: 100vw;
  height: 97.52512155591572vh;
  position: absolute;
  right: 0;
  top: 48.762560778vh;
  transform: translate(0%, -50%);
  z-index: -10;
  overflow-y: hidden;
}

/*Player*/

.doge {
  width: 15vw;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.doge:active {
  transform: translate(-50%, -50%) scale(105%);
}

.doge2 {
  z-index: -1;
  width: 25vw;
  filter: blur(100px);
  position: absolute;
  top: 49.5vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}



/*Dogecoin*/

.dc {
  position: absolute;
  top: 20vh;
  left: 50vw;
  transform: translate(-50%, -20%);
  font-size: 2.5vw;
}

/*Upgrades*/
.upgrades {
  height: 97.52512155591572vh;
  position: absolute;
  left: 0vw;
  top: 48.762560778vh;
  transform: translate(0%, -50%);
  border-right: 10px solid black;
  padding-top: 0px;
  width: 20vw;
  background: radial-gradient(#ff0000 0%, #bb1010 100%);
  margin: 0px;
  padding: 0px;
}

.upgrades h1 {
  padding-bottom: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-bottom: 0px solid black;
  font-size: 2.5vw;
  text-align: center;
}

.u1 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  border-bottom: 10px solid black;
  background: radial-gradient(#3cff00 0%, #10bb1e 100%);
  border-top: 10px solid;
}

.u1 h2 {
  font-size: 1.95vw;
}

.u1 p {
  font-size: 1.25vw;
}

.u1 h3 {
  font-size: 1.50vw;
}

.u2 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  border-bottom: 10px solid black;
  background: radial-gradient(#0091ff 0%, #1077bb 100%);
  border-top: 0.1px solid black;
}

.u2 h2 {
  font-size: 1.95vw;
}

.u2 p {
  font-size: 1.25vw;
}

.u2 h3 {
  font-size: 1.50vw;
}

/*powerups*/
.powerups {
  height: 57.52512155591572vh;
  position: absolute;
  right: 0vw;
  top: 28.762560778vh;
  transform: translate(0%, -50%);
  border-left: 10px solid black;
  border-bottom: 10px solid black;

  padding-top: 0px;
  width: 20vw;
  background: radial-gradient(#f700ff 0%, #9910bb 100%);
}

.powerups h1 {
  padding: 5px;
  margin-top: 0px;
  border-bottom: 10px solid black;
  font-size: 2.5vw;
  text-align: center;
}

/*Changelog*/
.changelog {
  overflow-y: hidden;
  height: 57.52512155591572vh;
  position: absolute;
  right: 0vw;
  top: 28.762560778vh;
  transform: translate(0%, -50%);
  border-left: 10px solid black;
  border-bottom: 10px solid black;
  z-index: -1;
  padding-top: 0px;
  width: 20vw;
  background: radial-gradient(#f700ff 0%, #9910bb 100%);
  padding: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.changelog h1 {
  padding: 5px;
  margin-top: 0px;
  border-bottom: 10px solid black;
  font-size: 2.5vw;
  text-align: center;
}

.changelog p {
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;

}

.changelog p::-webkit-scrollbar {
  display: none;
}

.sel {
  display: flex;
  width: 100%;
  /* height: auto; */
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  border-top: 10px solid #000;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  align-self: stretch;
}

.sel button {
  background-color: white;
  border: 0;
  height: 100%;
  width:fit-content;
  flex: auto;
  border-right: 10px solid #000;
  font-size: large;
}

.fwd {
  justify-self: baseline;
  border: none !important;
}
.ex {
  font-family: 'Comic Sans MS';
}

/* .ex {
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  transform: translate(0%, 0%);
  padding-top: 15px;
  border: 0px;
  border-top: 10px solid black;
  outline: none;
  font-family: cursive;
  padding-bottom: 15px;
  background: white;
  text-align: center;
  width: 20vw;
  font-size: 1.50vw;
  bottom: 0px;
  right: 0px;
} */

/*Stats*/
.stats {
  height: 31vh;
  position: absolute;
  right: 0vw;
  top: 73.762560778vh;
  transform: translate(0%, -50%);
  border-left: 10px solid black;
  z-index: -1;
  border-bottom: 10px solid black;
  padding-top: 0px;
  width: 20vw;
  background: radial-gradient(#ffae00 0%, #bb8510 100%);
}

.stats h1 {
  padding: 5px;
  padding-bottom: 0px;

  margin: 0px;
  font-size: 2.5vw;
  text-align: center;
}

/*Nav-Bar*/

.nav-bar {
  background: linear-gradient(281deg, #7a417d 0%, #772dff 100%);
  width: 250vw;
  height: auto;
  text-align: center;
  overflow: hidden;
  border-bottom: 0px solid #000;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  border-top: 10px solid #000;
  position: fixed;
  bottom: 0;
  left: 0%;
  transform: translate(0%, 0);
}

.nav-bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.2vw;
}

.nav-bar h1 {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: var(--nav-height);
}

.nav-bar a:hover {
  background: #f1f1f1;
  color: black;
}

.nav-bar a.active {
  background-color: #d61212;
  color: white;
}

.changelog h2 {
  font-size: 2vw;
}

.av {
  z-index: 6;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#0076ff 0%, #08fbff 100%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
}

.popup {
  width: 500px;
  height: fit-content !important ;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(#0076ff 0%, #08fbff 100%);
  display: flex;
  align-items: center;
  margin: 0px;
  border: 10px solid #000;
}

.title {
  text-align: center;
  background: radial-gradient(#ff0000 0%, #bb1010 100%);
  margin-top: 0px;
  padding: 10px;
  border-bottom: 10px solid #000;
}

.text {
  text-align: center;
  width: auto;
  height: fit-content !important;
  overflow: visible;
  margin-bottom: 75px;
}

.close {
  padding: 10px;
  text-align: center;
  background: white;
  margin: 0px;
  font-family: cursive;
  border-top: 10px solid #000;
  position: fixed;
  bottom: 0%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  outline: none;
}


h3 {
  padding: 0;
  margin: 0;
}

.costumes {
  height: 28.25124792013311vh;
  position: absolute;
  left: 50%;
  top: 10vh;
  transform: translate(-50%, -50%);
  border-bottom: 10px solid black;
  width: 100vw;
  background: radial-gradient(#ff0000 0%, #bb1010 100%);
  margin: 0px;
  padding: 0px;
  z-index: 100;
  overflow-x: scroll;
  scrollbar-width: none;
}

.costumes::-webkit-scrollbar {
  display: none;
}

.wrapper {
  height: 100vh;
}

.cos, .selc{
  margin: 0;
}

.selc {
  margin-bottom: 10px;
}

.fin {
  width: 100%;
  text-align: center;
  font-size: larger;
}

.cos {
  font-size: 35px;
}

.selection {
  transform: translateY(-21px);
  list-style-type: none;
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-left: 0;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;

}

.innersel {
  flex-direction: row;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.lst {
  font-family: 'Comic Sans MS';
  height: fit-content;
  align-self: center;
  margin-right: 100px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px solid black;
  background-color: white;
  font-size: 25px;
}

.nxt {
  font-family: 'Comic Sans MS';
  height: fit-content;
  align-self: center;
  margin-left: 100px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px solid black;
  background-color: white;
  font-size: 25px;
}

.selection button:hover {
  background: #ececec;
}

.selection button:active {
  background-color: white;
}

.av-btns {
  margin-top: 15px;
}

.av-btns button {
  height: fit-content;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px solid black;
  background-color: white;
  font-size: 25px;
  font-family: 'Comic Sans MS';
}

.dummyDoge {
  display: flex;
  width: 15vw;
  align-self: center;
  z-index: 100;
  opacity: 1;
  
}

a.tdoge:hover span.info1 {
  visibility: visible;
}

.tdoge span.info1 {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;

}

.tdoge {
  width: 120px;
  height: 120px;
  visibility: hidden;
  position: absolute;
  left: 0;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;

}

.info1 {
  width: 20px;
  position: absolute;
  top: -20px;
  right: -20px;
}

.cd {
  visibility: visible;
  width: 100px;
  height: 100px;
  filter: brightness(0%);
}

.sett {
  z-index: 6;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#0076ff 0%, #08fbff 100%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
}

.st {
  top: 0%;
  left: 100%;
  text-align: center;
  transform: translate(0%, 0%);
  margin: 0;
  padding: 15px;
  border-bottom: 10px solid #000;
  font-size: 30px;
  background: white;

}

.ddata {
  border: 5px solid #000;
  background-color: white;
  padding: 25px;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 120px;
  font-size: 20px;
}

.ddata:hover {
  border: 5px solid #FFF;
  background-color: black;
  color: white;
}

.expo {
  border: 5px solid #000;
  background-color: white;
  padding: 25px;
  top: 35%;
  right: 40%;
  transform: translate(50%, -50%);
  position: absolute;
  width: 120px;
  font-size: 20px;
}

.expo:hover {
  border: 5px solid #FFF;
  background-color: black;
  color: white;
}

.impo {
  border: 5px solid #000;
  background-color: white;
  padding: 25px;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 120px;
  font-size: 20px;
}

.impo:hover {
  border: 5px solid #FFF;
  background-color: black;
  color: white;
}

.spopup {
  width: 500px;
  height: 250px;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(#0076ff 0%, #08fbff 100%);
  display: none;
  margin: 0px;
  border: 10px solid #000;
}

.stitle {
  text-align: center;
  background: radial-gradient(#ff0000 0%, #bb1010 100%);
  margin-top: 0px;
  padding: 10px;
  border-bottom: 10px solid #000;
}

.stext {
  user-select: all;
  text-align: center;
  width: auto;
  filter: blur(25%)
}

.stext::selection {
  background-color: white;
}

.sclose {
  padding: 10px;
  text-align: center;
  background: white;
  margin: 0px;
  font-family: cursive;
  border-top: 10px solid #000;
  position: fixed;
  bottom: 0%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  outline: none;
}

.ispopup {
  width: 500px;
  height: 250px;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(#0076ff 0%, #08fbff 100%);
  display: none;
  margin: 0px;
  border: 10px solid #000;
}

.istitle {
  text-align: center;
  background: radial-gradient(#ff0000 0%, #bb1010 100%);
  margin: 0px;
  padding: 10px;
  border-bottom: 10px solid #000;
}

.istext {
  user-select: all;
  text-align: center;
  width: 98.5%;
  height: 40%;
  filter: blur(25%)
}

.istext:focus {
  outline: none;
}

.isclose {
  padding: 10px;
  text-align: center;
  background: white;
  margin: 0px;
  font-family: cursive;
  border-top: 10px solid #000;
  position: fixed;
  bottom: 0%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  outline: none;
}

a.bbread:hover span.info2 {
  visibility: visible;
}

.bbread span.info2 {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;

}

.bbread {
  width: 120px;
  height: 120px;
  visibility: hidden;
  position: absolute;
  right: 0;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;

}

.info2 {
  width: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.bb {
  visibility: visible;
  width: 100px;
  height: 100px;
  filter: brightness(0%);
}