body{
    background-color: #fad5d5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

html{
    border: 5px solid #726363;
    height: 98.24868651488616vh;
}

text{
    color: #001214;
}

.title{
	background-color:#01c3d9;
    border:1px solid #008c99;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    border-radius: 100px;
}

.sub{
    background-color:#01c3d9;
    border:1px solid #008c99;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 50%;
    position: relative;
    transform: translate(-50%);
}

.s{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 10em;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
}

.s {
	background-color:#01c3d9;
	border:1px solid #008c99;
	display:inline-block;
	cursor:pointer;
	color:#001214;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
    transition: all 0.09s ease-in-out;
    padding: 0;
    padding-inline: 1.953vw;
}
.s:hover {
    box-shadow: 5px 5px 0px 0px #0c8a96;
}

.m{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 10em;
}

.m {
	background-color:#01c3d9;
	border:1px solid #008c99;
	display:inline-block;
	cursor:pointer;
	color:#001214;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
    transition: all 0.09s ease-in-out;
    padding: 0;
    padding-inline: 1.953vw;
}
.m:hover {
    box-shadow: 5px 5px 0px 0px #0c8a96;
}



.game h1{
    background-color: #9E0031;
    border: 5px solid #700124;
    width: 7.813vw;
    height: 7.813vw;
    border-radius: 100%;
}


@media only screen and (max-width: 600px) {
    h1{
        font-size: 1.5rem;
    }

    h2{
        font-size: 0.5rem;
    }
}